details.annoying-warning[open] {
  background: #fdd;
  color: red;
  font-weight: bold;
  text-align: center;
  padding: .5em;
  border: thick solid red;
  border-radius: 1em;
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 1000;
}

details.annoying-warning:not([open]) > summary {
  background: #fdd;
  color: red;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}
