<!DOCTYPE html>
<html lang="en">
<head>
<title>HTML Templates</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" href="../../assets/styles/spec.css" type="text/css">
<link rel="stylesheet" href="../../assets/styles/prettify.css" type="text/css">
<link rel="stylesheet" href="http://www.w3.org/StyleSheets/TR/W3C-ED" type="text/css" >
<script src="../../assets/scripts/bug-assist.js"></script>
<script src="../../assets/scripts/spec-assist.js"></script>
<script src="../../assets/scripts/prettify.js"></script>
<meta name="bug.blocked" content="15476">
<meta name="bug.short_desc" content="[Templates]: ">
<meta name="bug.product" content="WebAppsWG">
<meta name="bug.component" content="Component Model">
</head>

<body>

<div class="head">

<div class="logo">
    <a href="http://www.w3.org/"><img width="72" height="48" src="http://www.w3.org/Icons/w3c_home" alt="W3C"></a>
</div>

<h1>HTML Templates</h1>
<h2 id="editors-draft">W3C Editor's Draft</h2>
<dl>
<dt>This Version</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html">http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html</a></dd>
<dt>Latest editor's draft</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html">http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/shadow/index.html</a></dd>
<dt>Previous version</dt>
    <dd>none</dd>
<dt>Revision history</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/log/tip/spec/templates/index.html">http://dvcs.w3.org/hg/webcomponents/log/tip/spec/templates/index.html</a></dd>
<dt>Participate</dt>
    <dd>Discuss on <a href="http://lists.w3.org/Archives/Public/public-webapps/">public-webapps@w3.org</a> (<a href="http://www.w3.org/2008/webapps/">Web Applications Working Group</a>)</dd>
    <dd><a href="https://www.w3.org/Bugs/Public/enter_bug.cgi?comment=&amp;blocked=15476&amp;short_desc=%5BTemplates%5D%3A%20&amp;product=WebAppsWG&amp;component=Component%20Model">File bugs</a> (w3.org's <a href="https://www.w3.org/Bugs/Public/">Bugzilla</a>)</dd>
<dt>Status</dt>
    <dd>Living Draft</d>
<dt>Editors</dt>
    <dd class="vcard"><span class="fn">Dimitri Glazkov</span>, <span class="org">Google</span>, &lt;<a class="email" href="mailto:dglazkov@chromium.org">dglazkov@chromium.org</a>&gt;</dd>
    <dd class="vcard"><span class="fn">Rafael Weinstein</span>, <span class="org">Google</span>, &lt;<a class="email" href="mailto:rafaelw@chromium.org">rafaelw@chromium.org</a>&gt;</dd>
</dl>

<p class="copyright"><a href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> &copy; 2012 <a href="http://www.w3.org/"><acronym title="World Wide Web Consortium">W3C</acronym></a><sup>&copy;</sup> (<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, <a href="http://www.ercim.eu/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>, <a href="http://www.keio.ac.jp/">Keio</a>), All Rights Reserved. <acronym title="World Wide Web Consortium">W3C</acronym> <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>, <a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a> and <a href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a> rules apply.</p>

<hr>

<h2 id="abstract">Abstract</h2>

<p>This specification describes a method for declaring inert DOM subtrees in HTML and manipulating them to instantiate document fragments with identical contents.</p>

<h2 id="status">Status of This Document</h2>

<p><em>This section describes the status of this document at the time of its publication. Other documents may supersede this document. A list of current <acronym title="World Wide Web Consortium">W3C</acronym> publications and the latest revision of this technical report can be found in the <a href="http://www.w3.org/TR/"><acronym title="World Wide Web Consortium">W3C</acronym> technical reports index</a> at http://www.w3.org/TR/.</em></p>

<p>This document was published by the <a href="http://www.w3.org/2008/webapps/">Web Applications Working Group</a> as an Editor's Draft. If you wish to make comments regarding this document, please send them to <a href="mailto:public-webapps@w3.org">public-webapps@w3.org</a> (<a href="mailto:public-webapps-request@w3.org?subject=subscribe">subscribe</a>, <a href="http://lists.w3.org/Archives/Public/public-webapps/">archives</a>). All feedback is welcome.</p><p>Publication as an Editor's Draft does not imply endorsement by the <acronym title="World Wide Web Consortium">W3C</acronym> Membership. This is a draft document and may be updated, replaced or obsoleted by other documents at any time. It is inappropriate to cite this document as other than work in progress.</p>

<p>This document was produced by a group operating under the <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/">5 February 2004 <acronym title="World Wide Web Consortium">W3C</acronym> Patent Policy</a>. <acronym title="World Wide Web Consortium">W3C</acronym> maintains a <a href="http://www.w3.org/2004/01/pp-impl/45559/status" rel="disclosure">public list of any patent disclosures</a> made in connection with the deliverables of the group; that page also includes instructions for disclosing a patent. An individual who has actual knowledge of a patent which the individual believes contains <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/#def-essential">Essential Claim(s)</a> must disclose the information in accordance with <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/#sec-Disclosure">section 6 of the <acronym title="World Wide Web Consortium">W3C</acronym> Patent Policy</a>.</p>

</div>

<section class="toc">
<h2>Table of Contents</h2>
<ol>
    <li><a href="#about"><span class="section">1</span> About this Document</a></li>
    <li><a href="#dependencies"><span class="section">2</span> Dependencies</a></li>
    <li><a href="#terminology"><span class="section">3</span> Terminology</a></li>
    <li><a href="#introduction"><span class="section">4</span> Introduction</a></li>
    <li><a href="#parsing"><span class="section">5</span> Parsing HTML Templates</a></li>
    <li><a href="#elements-and-dom-objects"><span class="section">6</span> Elements and DOM Objects</a></li>
    <li><a href="#acknowledgements">Acknowledgements</a></li>
</ol>

</section>

<section class="math">

<h2 id="about">About this Document</h2>

<p>All diagrams, examples, notes, are non-normative, as well as sections explicitly marked as non-normative. Everything else in this specification is normative.</p>

<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in the normative parts of this document are to be interpreted as described in <a href="http://dev.w3.org/2006/xbl2/#refsRFC2119">RFC2119</a>. For readability, these words do not appear in all uppercase letters in this specification.</p>

<p>To help with layering and to avoid circular dependencies between various parts of specification, this document consists of three consecutive narratives:
<ol>
    <li>setting up the stage for the specification,</li>
    <li>explaining of the conceptual model and algorithms behind it, and</li>
    <li>expressing this model with DOM interfaces and HTML elements.</li>
</ol>
<p>In a sense, these parts can be viewed as <em>math</em>, which sets up the reasoning environment, <em>physics</em>, which is the theoretical reasoning about the concept, and <em>mechanics</em>, which is the is the practical application of this reasoning.</p>

<p>Any point, at which a conforming UA must make decisions about the state or reaction to the state of the conceptual model, is captured as <a href="http://en.wikipedia.org/wiki/Algorithm">algorithm</a>. The algorithms are defined in terms of processing equivalence. The <dfn id="dfn-processing-equivalence">processing equivalence</dfn> is a constraint imposed on the algorithm implementors, requiring the output of the both UA-implemented and the specified algorithm to be exactly the same for all inputs.</p>

<h2 id="dependencies">Dependencies</h2>

<p>This document relies on the following specifications:</p>

<ul>
    <li><a href="http://www.w3.org/TR/domcore/">DOM4 (DOM Core)</a></li>
    <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">HTML</a></li>
    <li><a href="http://html5.org/specs/dom-parsing.html">DOM Parsing and Serialization</a></li>
</ul>

<h2 id="terminology">Terminology</h2>

<p>The following terms are used throughout the specification:

<p><a class="fixme" href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15541">Populate terminology section</a></p>

<dl>
<dt>DOM</dt>
    <dd>The <a href="http://www.w3.org/TR/domcore/">document object model</a></dd>
<dt>document</dt>
    <dd>The Document Object Model's underlying document</dd>
<dt>node</dt>
    <dd>Any DOM object that <a href="http://www.w3.org/TR/domcore/#concept-tree-participate">participates in a tree</a></dd>
<dt>element</dt>
    <dd>A DOM object that implements the <a href="http://www.w3.org/TR/domcore/#interface-element">Element</a> interface</dd>
<dt>DOM tree</dt>
    <dd>Any <a href="http://www.w3.org/TR/domcore/#trees">tree</a>, composed of DOM objects</a>
<dt>DOM structure</dt>
    <dd>A DOM tree or fragment of a DOM tree</a>
</dl>

</section>

<section class="physics">

<h2 id="introduction">Introduction</h2>

<p>This section is non-normative</p>
<p>Commonly, Web developers find thsemselves needing to create tree of DOM elements that they could later insert into the document. The typical approach is to build such a tree using DOM APIs.</p>

<code><pre class="prettyprint">

var tree = document.createDocumentFragment();
// add tree nodes imperatively...
var div = tree.appendChild(document.createElement('div'));
// .. and/or use innerHTML and markup.
div.innerHTML = '&lt;a href="//example.com/link"&gt;LINK&lt;/a&gt;';

</pre></code>

<p>However, if the developer attempts to add certain HTML elements, such as those representing <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/embedded-content-1.html#embedded-content-1">embedded content</a>, these elements often begin functioning&mdash;such as fetching network resources&mdash;as soon as they are initialized. In such cases, a developer may want to prevent them from becoming functional until they are added to the document tree.</p>

<!--
<p>The element is considered <dfn id="dfn-inert">inert</dfn> when setting its attributes does not cause any effects other than changing the internal state of the element.</p>

-->

<p><a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15652" id="dfn-template" class="fixme">Define template</a></p>
<p><a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15857" id="dfn-template-contents" class="fixme">Define template contents</a></p>

</section>

<section class="mechanics">

<h2 id="parsing">Parsing HTML Templates</h2>

<p>The parsing of the HTML Templates is defined as a set of additions to the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#parsing">HTML parsing algorithm</a>:</p>
<ul>
    <li>New rules to handle the <code>template</code> start tag for the following insertion modes:
    <ul>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a></li>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a></li>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inselect">"in select"</a></li>
    </ul>
    </li>
    <li>A new "template contents" insertion mode</li>
</ul>

<h3 id="in-body-addition">Addition to "in body" insertion mode</h3>

<p>Just before the <strong>Any other start tag</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Run these steps:
    <ol>
        <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#reconstruct-the-active-formatting-elements">Reconstruct the active formatting elements</a>, if any.</li>
        <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#create-an-element-for-the-token">Create an HTML element</a> for the token.</li>
        <li>Append this element to the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a>.</li>
        <li>Create a new <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dom.html#document">Document</a> node that does not have a <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/browsers.html#browsing-context">browsing context</a> and mark it as being an <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/infrastructure.html#html-documents">HTML document</a>.</li>
        <li>With that <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dom.html#document">Document</a>, create a new <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> object.</li>
        <li>Set the <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> as <a href="#dfn-template-contents">template contents</a> of the created element.</li>
        <li>Push this <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> onto the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#stack-of-open-elements">stack of open elements</a> so that it is the new <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a>.</li>
        <li>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="#template-contents-insertion-mode">"template contents"</a>.
    </ol>
    </dd>
</dl>

<h3 id="in-table-addition">Addition to the "in table" insertion mode</h3>

<p>Just before the <strong>Anything else</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Process the token <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#using-the-rules-for">using rules for</a> the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode.</dd>
</dl>

<h3 id="in-table-addition">Addition to the "in select" insertion mode</h3>

<p>Just before the <strong>Anything else</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inselect">"in select"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Process the token <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#using-the-rules-for">using rules for</a> the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode.</dd>
</dl>

<h3 id="template-contents-insertion-mode">"Template contents" insertion mode</h3>

<p>When the user is to apply the rules for the "template contents" <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a>, the user agent <strong>must</strong> handle the token as follows:</p>
<dl>
<dt>A character token that is one of U+0009 CHARACTER TABULATION, U+000A LINE FEED (LF), U+000C FORM FEED (FF), U+000D CARRIAGE RETURN (CR), or U+0020 SPACE</dt>
    <dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#insert-a-character">Insert the character</a> into the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a>.</dd>
<dt>A comment token</dt>
    <dd>Append a <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/infrastructure.html#comment-0">Comment</a> node to the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a> with the <code>data</code> attribute set to the data given in the comment token.</dd>
<dt>A start tag whose name is one of: "caption", "col", "colgroup", "tbody", "td", "tfoot", "th", "thead", "tr"</dt>
    <dd>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a> and reprocess the current token.</dd>
<dt>Anything else</dt>
    <dd>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> and reprocess the current token.</dd>
</dl>

<h2 id="elements-and-dom-objects">Elements and DOM Objects</h2>

<h3>The <code>template</code> element</h3>

<p>The <dfn id="dfn-template-element"><code>template</code></dfn> template element represents a <a href="#dfn-template">template</a>.</p>

<dl>
<dt>Context</dt>
    <dd>Where <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#flow-content-0">flow content</a> is expected</dd>
<dt>Content Model</dt>
    <dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#metadata-content-0">Metadata</a> content</dd>
<dt>Children</dt>
    <dd>Anything as <a href="#dfn-template-contents">template contents</a></dd>
<dt>Content attributes</dt>
    <dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#global-attributes">Global attributes</a></dd>
<dt>DOM Interface</dt>
    <dd>
        <pre><code>
interface <dfn id="api-html-template-element">HTMLTemplateElement</dfn> : <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#htmlelement">HTMLElement</a> {
    readonly attribute <a href="http://www.w3.org/TR/domcore/#interface-documentfragment">DocumentFragment</a> <a href="#api-html-template-element-content">content</a>;
}
        </code></pre>
        <dl>
        <dt>Attributes</dt>
        <dl>
            <dt id="api-html-template-element-content"><code>content</code> of type <a href="http://www.w3.org/TR/domcore/#interface-documentfragment"><code>DocumentFragment</code></a>, read-only</dt>
            <dd>Provides access to <a href="#dfn-template-contents">template contents</a></dd>
        </dd>
        </dl>
    </dd>
</dl>

</section>

<h2 id="acknowledgements">Acknowledgements</h2>

<p><a class="fixme" href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15542">Populate acknowledgments section</a></p>

</body>
</html>
