<!DOCTYPE html>
<html lang="en">
<head>
<title>HTML Templates</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:700|Droid+Sans+Mono|Ovo" type="text/css">
<link rel="stylesheet" href="../../assets/styles/main.css" type="text/css">
<link rel="stylesheet" href="../../assets/styles/spec.css" type="text/css">
<link rel="stylesheet" href="../../assets/styles/prettify.css" type="text/css" />
<script src="../../assets/scripts/bug-assist.js"></script>
<script src="../../assets/scripts/prettify.js"></script>
<meta name="bug.blocked" content="15476">
<meta name="bug.short_desc" content="[Templates]: ">
<meta name="bug.product" content="WebAppsWG">
<meta name="bug.component" content="Component Model">
</head>

<body>

<header>
<h1>HTML Templates</h1>
<dl>
<dt>This Version</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html">http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/templates/index.html</a></dd>
<dt>Revision history</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/log/tip/spec/templates/index.html">http://dvcs.w3.org/hg/webcomponents/log/tip/spec/templates/index.html</a></dd>
<dt>Participate</dt>
    <dd>Discuss on <a href="http://lists.w3.org/Archives/Public/public-webapps/">public-webaps@w3.org</a> (<a href="http://www.w3.org/2008/webapps/">Web Applications Working Group</a>)</dd>
    <dd><a href="https://www.w3.org/Bugs/Public/enter_bug.cgi?comment=&amp;blocked=15476&amp;short_desc=%5BTemplates%5D%3A%20&amp;product=WebAppsWG&amp;component=Component%20Model">File bugs</a> (w3.org's <a href="https://www.w3.org/Bugs/Public/">Bugzilla</a>)</dd>
<dt>Status</dt>
    <dd>Living Draft</d>
<dt>Editor</dt>
    <dd class="vcard"><span class="fn">Dimitri Glazkov</span>, <span class="org">Google</span>, &lt;<a class="email" href="mailto:dglazkov@chromium.org">dglazkov@chromium.org</a>&gt;</dd>
    <dd class="vcard"><span class="fn">Rafael Weinstein</span>, <span class="org">Google</span>, &lt;<a class="email" href="mailto:rafaelw@chromium.org">rafaelw@chromium.org</a>&gt;</dd>
</dl>
</header>

<section class="toc">
<h2>Table of Contents</h2>
<ol>
    <li><a href="#abstract">Abstract</a></li>
    <li><a href="#about">About this Document</a></li>
    <li><a href="#dependencies">Dependencies</a></li>
    <li><a href="#terminology">Terminology</a></li>
    <li><a href="#elements-and-dom-objects">Elements and DOM Objects</a></li>
    <li><a href="#acknowledgements">Acknowledgements</a></li>
</ol>

</section>

<section class="math">

<h2 id="abstract">Abstract</h2>

<p>This specification describes a method for declaring inert DOM subtrees in HTML and manipulating them to instantiate document fragments with identical contents.</p>

<h2 id="about">About this Document</h2>

<p>All diagrams, examples, notes, are non-normative, as well as sections explicitly marked as non-normative. Everything else in this specification is normative.</p>

<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in the normative parts of this document are to be interpreted as described in <a href="http://dev.w3.org/2006/xbl2/#refsRFC2119">RFC2119</a>. For readability, these words do not appear in all uppercase letters in this specification.</p>

<p>To help with layering and to avoid circular dependencies between various parts of specification, this document consists of three consecutive narratives:
<ol>
    <li>setting up the stage for the specification,</li>
    <li>explaining of the conceptual model and algorithms behind it, and</li>
    <li>expressing this model with DOM interfaces and HTML elements.</li>
</ol>
<p>In a sense, these parts can be viewed as <em>math</em>, which sets up the reasoning environment, <em>physics</em>, which is the theoretical reasoning about the concept, and <em>mechanics</em>, which is the is the practical application of this reasoning.</p>

<p>Any point, at which a conforming UA must make decisions about the state or reaction to the state of the conceptual model, is captured as <a href="http://en.wikipedia.org/wiki/Algorithm">algorithm</a>. The algorithms are defined in terms of processing equivalence. The <dfn id="dfn-processing-equivalence">processing equivalence</dfn> is a constraint imposed on the algorithm implementors, requiring the output of the both UA-implemented and the specified algorithm to be exactly the same for all inputs.</p>

<h2 id="dependencies">Dependencies</h2>

<p>This document relies on the following specifications:</p>

<ul>
    <li><a href="http://www.w3.org/TR/domcore/">DOM4 (DOM Core)</a></li>
    <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">HTML</a></li>
    <li><a href="http://html5.org/specs/dom-parsing.html">DOM Parsing and Serialization</a></li>
</ul>

<h2 id="terminology">Terminology</h2>

<p>The following terms are used throughout the specification:

<p><a class="fixme" href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15541">Populate terminology section</a></p>

<dl>
<dt>DOM</dt>
    <dd>The <a href="http://www.w3.org/TR/domcore/">document object model</a></dd>
<dt>document</dt>
    <dd>The Document Object Model's underlying document</dd>
<dt>node</dt>
    <dd>Any DOM object that <a href="http://www.w3.org/TR/domcore/#concept-tree-participate">participates in a tree</a></dd>
<dt>element</dt>
    <dd>A DOM object that implements the <a href="http://www.w3.org/TR/domcore/#interface-element">Element</a> interface</dd>
<dt>DOM tree</dt>
    <dd>Any <a href="http://www.w3.org/TR/domcore/#trees">tree</a>, composed of DOM objects</a>
<dt>DOM structure</dt>
    <dd>A DOM tree or fragment of a DOM tree</a>
</dl>

</section>

<section class="physics">

<p><a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15652" id="dfn-template" class="fixme">Define template</a></p>
<p><a href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15857" id="dfn-template-contents" class="fixme">Define template contents</a></p>

</section>

<section class="mechanics">

<h2 id="parsing">Parsing HTML Templates</h2>

<p>The parsing of the HTML Templates is defined as a set of additions to the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#parsing">HTML parsing algorithm</a>:</p>
<ul>
    <li>New rules to handle <code>template</code> start tag for the following insertion modes:
    <ul>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a></li>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a></li>
            <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inselect">"in select"</a></li>
    </ul>
    </li>
    <li>A new "template contents" insertion mode</li>
</ul>

<h3 id="in-body-addition">Addition to "in body" insertion mode</h3>

<p>Just before the <strong>Any other start tag</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Run these steps:
    <ol>
        <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#reconstruct-the-active-formatting-elements">Reconstruct the active formatting elements</a>, if any.</li>
        <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#create-an-element-for-the-token">Create an HTML element</a> for the token.</li>
        <li>Append this element to the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a>.</li>
        <li>Create a new <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dom.html#document">Document</a> node that does not have a <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/browsers.html#browsing-context">browsing context</a> and mark it as being an <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/infrastructure.html#html-documents">HTML document</ac>.</li>
        <li>With that <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dom.html#document">Document</a>, create a new <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> object.</li>
        <li>Set the <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> as <a href="#dfn-template-contents">template contents</a> of the created element.</li>
        <li>Push this <a href="http://dvcs.w3.org/hg/domcore/raw-file/tip/Overview.html#interface-documentfragment">DocumentFragment</a> onto the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#stack-of-open-elements">stack of open elements</a> so that it is the new <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#current-node">current node</a>.</li>
        <li>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="#template-contents-insertion-mode">"template contents"</a>.
    </ol>
    </dd>
</dl>

<h3 id="in-table-addition">Addition to the "in table" insertion mode</h3>

<p>Jut before the <strong>Anything else</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Process the token <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#using-the-rules-for">using rules for</a> the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode.</dd>
</dl>

<h3 id="in-table-addition">Addition to the "in select" insertion mode</h3>

<p>Jut before the <strong>Anything else</strong> rule in the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inselect">"in select"</a> insertion mode, add the following rule:</p>
<dl>
<dt>A start tag whose tag name is "template"</dt>
    <dd>Process the token <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#using-the-rules-for">using rules for</a> the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> insertion mode.</dd>
</dl>

<h3 id="template-contents-insertion-mode">"Template contents" insertion mode</h3>

<p>When the user is to apply the rules for the "template contents" <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a>, the user agent <strong>must</strong> handle the token as follows:</p>
<dl>
<dt>A start tag whose name is one of: "caption", "col", "colgroup", "tbody", "td", "tfoot", "th", "thead", "tr"</dt>
    <dd>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-intable">"in table"</a> and reprocess the current token.</dd>
<dt>Anything else</dt>
    <dd>Switch the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/parsing.html#insertion-mode">insertion mode</a> to <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tree-construction.html#parsing-main-inbody">"in body"</a> and reprocess the current token.</dd>
</dl>

<h2 id="elements-and-dom-objects">Elements and DOM Objects</h2>

<h3>The <code>template</code> element</h3>

<p>The <dfn id="dfn-template-element"><code>template</code></dfn> template element represents a <a href="#dfn-template">template</a>.</p>

<dl>
<dt>Context</dt>
    <dd>Where <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#flow-content-0">flow content</a> is expected</dd>
<dt>Content Model</dt>
    <dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#metadata-content-0">Metadata</a> content</dd>
<dt>Children</dt>
    <dd>Anything as <a href="#dfn-template-contents">template contents</a></dd>
<dt>Content attributes</dt>
    <dd><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#global-attributes">Global attributes</a></dd>
<dt>DOM Interface</dt>
    <dd>
        <pre><code>
interface <dfn id="api-html-template-element">HTMLTemplateElement</dfn> : <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/elements.html#htmlelement">HTMLElement</a> {
    readonly attribute <a href="http://www.w3.org/TR/domcore/#interface-documentfragment">DocumentFragment</a> <a href="#api-html-template-element-content">content</a>;
}
        </code></pre>
        <dl>
        <dt>Attributes</dt>
        <dl>
            <dt id="api-html-template-element-content"><code>content</code> of type <a href="http://www.w3.org/TR/domcore/#interface-documentfragment"><code>DocumentFragment</code></a>, read-only</dt>
            <dd>Provides access to <a href="#dfn-template-contents">template contents</a></dd>
        </dd>
        </dl>
    </dd>
</dl>

</section>

<h2 id="acknowledgements">Acknowledgements</h2>

<p><a class="fixme" href="https://www.w3.org/Bugs/Public/show_bug.cgi?id=15542">Populate acknowledgments section</a></p>

</body>
</html>
