body {
    margin: 0 auto;
    padding: 0;
    line-height: 1.4em;
    font-family: 'Ovo', serif;
    width: 60em;
}

figure {
    width: 600px;
    margin: 0 auto;
    display: block;
}

figcaption {
    font-size: 0.8em;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 1.5em 0 1em 0;
}

h2, h3 {
    margin: 1.5em 0 0.3em 0;
}

a {
    color: Black;
}

code {
    background-color: #eee;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 0.8em;
}

pre {
    background-color: #eee;
    padding: 0 2em 1em 2em;
    margin: 0;
}