span.shadow-boundary {
    color: Gray;
}

table {
    border: 1px solid #ccc;
}

table code {
    background-color: transparent;
}

td, th {
    padding: 0.5em;
    vertical-align: top;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:last-of-type td {
    border-bottom: none;
}

th {
    text-align: left;
    background-color: #eee;
}

div.algorithm {
  padding: 0 0 0 20px;
  border-left: .5em solid #EAF7F9;
}

#bug-assist-form {
    position: fixed;
    width: 10em;
    top: 5em;
    right: 1em;
    font-family: Tahoma,sans-serif;
    font-size: 11px;
    opacity:0.8;
    text-align:right;
}

var {
    font-size: 0.8em;
    color: #005A9C;
    font-style: normal;
}

/*
 * From https://resources.whatwg.org/standard.css
 * Styles used in https://resources.whatwg.org/dfn.js
 */
body.dfnEnabled dfn { cursor: pointer; }
.dfnPanel {
  display: inline;
  position: absolute;
  z-index: 35;
  height: auto;
  width: auto;
  padding: 0.5em 0.75em;
  font: small Helvetica Neue, sans-serif, Droid Sans Fallback;
  background: #DDDDDD;
  color: black;
  border: outset 0.2em;
}
.dfnPanel * { margin: 0; padding: 0; font: inherit; text-indent: 0; }
.dfnPanel :link, .dfnPanel :visited { color: black; }
.dfnPanel p:not(.spec-link) { font-weight: bolder; }
.dfnPanel * + p { margin-top: 0.25em; }
.dfnPanel li { list-style-position: inside; }

/* Additional fixes */
.dfnPanel a[href] { border-bottom: none; }
.dfnPanel a[href]:hover { border-bottom: 1px solid #707070; }

/*
 * From https://resources.whatwg.org/standard.css
 */
.brief { margin-top: 1em; margin-bottom: 1em; line-height: 1.1; }
.brief > li { margin: 0; padding: 0; }
.brief > li > p, .brief > li > ol, .brief > li > ul, .brief > li > dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
