body {
    margin: 0 auto;
    line-height: 1.4em;
    width: 60em;
}

section.toc ol {
    list-style: none;
}

span.shadow-boundary {
    color: Gray;
}

span.event-ancestor, span.first-divergent-boundary {
    color: DarkRed;
}

span.event-ancestor > em {
    background-color: DarkRed;
    color: White;
    font-style: normal;
    border-radius: 1em;
    padding: 0 0.35em;
}

span.lowest-common-boundary {
    color: Green;
}


.fixme {
    background-color: red;
    color: white;
}

dfn {
    font-style: normal;
    background-color: #f9f9f9;
    padding: 0 2px;
    border: 1px solid #eee;
}

dfn:target {
    background-color: #FFFF91;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #666;
}

a[href*=dfn-] {
    border-bottom: 1px dotted #ccc;
}

var {
    font-size: 0.8em;
    color: #005A9C;
    font-style: normal;
}

table {
    border: 1px solid #ccc;
}

table code {
    background-color: transparent;
}

td, th {
    padding: 0.5em;
}

th {
    text-align: left;
    background-color: #eee;
}

h1, h2, h3, h4 {
    color: #005A9C;
}

dt {
    font-weight: bold;
}
