body {
    margin: 0 auto;
    line-height: 1.4em;
    width: 60em;
}

span.shadow-boundary {
    color: Gray;
}

span.event-ancestor, span.first-divergent-boundary {
    color: DarkRed;
}

span.event-ancestor > em {
    background-color: DarkRed;
    color: White;
    font-style: normal;
    border-radius: 1em;
    padding: 0 0.35em;
}

span.lowest-common-boundary {
    color: Green;
}


.fixme {
    background-color: red;
    color: white;
}