body {
    line-height: 1.4em;
}

code {
    background-color: #eee;
    font-family: 'Droid Sans Mono', monospace;
}

body>pre.prettyprint, body>section pre {
    background-color: #eee;
    padding: 0 2em 1em 2em;
    margin: 0;
    border: none;
}

object {
    margin: 0 auto;
    display: block;
}

section.toc ol {
    list-style: none;
}

span.shadow-boundary {
    color: Gray;
}

span.event-ancestor, span.first-divergent-boundary {
    color: DarkRed;
}

span.event-ancestor > em {
    background-color: DarkRed;
    color: White;
    font-style: normal;
    border-radius: 1em;
    padding: 0 0.35em;
}

span.lowest-common-boundary {
    color: Green;
}


.fixme {
    background-color: red;
    color: white;
}

.note {
    color: green;
    font-weight: bold;
    font-style: italic;
    padding-left: 2em;
}

.note:before {
    content: "Note: ";
}

dfn {
    font-style: normal;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 0 2px;
    border: 1px solid #eee;
}

dfn:target {
    background-color: #FFFF91;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #666;
}

a[href*=dfn-] {
    border-bottom: 1px dotted #ccc;
}

div.logo>a {
    border-bottom: none;
}

var {
    font-size: 0.8em;
    color: #005A9C;
    font-style: normal;
}

table {
    border: 1px solid #ccc;
}

table code {
    background-color: transparent;
}

td, th {
    padding: 0.5em;
    vertical-align: top;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:last-of-type td {
    border-bottom: none;
}

th {
    text-align: left;
    background-color: #eee;
}

dt {
    font-weight: bold;
}

dd {
    padding-bottom: 7px;
}

div.algorithm {
    padding: 0 0 0 20px;
    border-left: 5px solid #EAF7F9;
}

div.informative:before {
    content: 'Informative Content';
    float: right;
    display: block;
    padding: 2px 10px;
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #D3EEDF 100%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #D3EEDF 100%);
    font-size: 0.9em;
}

div.informative {
    padding: 10px 0 0 20px;
    border-left: 5px solid #D3EEDF;
}

div.monkeypatch:before {
    content: 'Informative Content: Monkeypatch';
    float: right;
    display: block;
    padding: 2px 10px;
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #D3EEDF 100%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #D3EEDF 100%);
    font-size: 0.9em;
}

div.monkeypatch {
    padding: 10px 0 0 20px;
    border-left: 5px solid #EEE5D3;
}
