<!DOCTYPE html>
<html lang="en">
<head>
<title>HTML Components</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" href="../../assets/styles/spec.css" type="text/css">
<link rel="stylesheet" href="../../assets/styles/prettify.css" type="text/css">
<link rel="stylesheet" href="https://www.w3.org/StyleSheets/TR/W3C-ED" type="text/css" >
<script src="../../assets/scripts/bug-assist.js"></script>
<script src="../../assets/scripts/spec-assist.js"></script>
<script src="../../assets/scripts/prettify.js"></script>
<meta name="bug.blocked" content="20683">
<meta name="bug.short_desc" content="[Components]: ">
<meta name="bug.product" content="WebAppsWG">
<meta name="bug.component" content="Component Model">
</head>

<body>

<div class="head">

<div class="logo">
    <a href="http://www.w3.org/"><img width="72" height="48" src="http://www.w3.org/Icons/w3c_home" alt="W3C"></a>
</div>

<h1>HTML Components</h1>
<h2 id="editors-draft">W3C Editor's Draft</h2>
<dl>
<dt>This version</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/components/index.html">http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/components/index.html</a></dd>
<dt>Latest editor's draft</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/components/index.html">http://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/components/index.html</a></dd>
<dt>Previous version</dt>
    <dd>none</dd>
<dt>Revision history</dt>
    <dd><a href="http://dvcs.w3.org/hg/webcomponents/log/tip/spec/components/index.html">http://dvcs.w3.org/hg/webcomponents/log/tip/spec/components/index.html</a></dd>
<dt>Participate</dt>
    <dd>Discuss on <a href="http://lists.w3.org/Archives/Public/public-webapps/">public-webapps@w3.org</a> (<a href="http://www.w3.org/2008/webapps/">Web Applications Working Group</a>)</dd>
    <dd><a href="https://www.w3.org/Bugs/Public/enter_bug.cgi?comment=&amp;blocked=20683&amp;short_desc=%5BComponents%5D%3A%20&amp;product=WebAppsWG&amp;component=Component%20Model">File bugs</a> (w3.org's <a href="https://www.w3.org/Bugs/Public/">Bugzilla</a>)</dd>
<dt>Editor</dt>
    <dd class="vcard"><span class="fn">Dimitri Glazkov</span>, <span class="org">Google</span>, &lt;<a class="email" href="mailto:dglazkov@chromium.org">dglazkov@chromium.org</a>&gt;</dd>
</dl>

<p class="copyright"><a href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> &copy; 2013 <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a><sup>&copy;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>), All Rights Reserved. <abbr title="World Wide Web Consortium">W3C</abbr> <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>, <a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a> and <a href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a> rules apply.</p>

<hr>

<h2 id="abstract">Abstract</h2>

<p>HTML Components are a way to include and reuse parts of HTML documents in other HTML documents.</p>

<h2 id="status">Status of This Document</h2>

<p><em>This section describes the status of this document at the time of its publication. Other documents may supersede this document. A list of current <abbr title="World Wide Web Consortium">W3C</abbr> publications and the latest revision of this technical report can be found in the <a href="http://www.w3.org/TR/"><abbr title="World Wide Web Consortium">W3C</abbr> technical reports index</a> at http://www.w3.org/TR/.</em></p>

<p>This document was published by the <a href="http://www.w3.org/2008/webapps/">Web Applications Working Group</a> as an Editor's Draft. If you wish to make comments regarding this document, please send them to <a href="mailto:public-webapps@w3.org">public-webapps@w3.org</a> (<a href="mailto:public-webapps-request@w3.org?subject=subscribe">subscribe</a>, <a href="http://lists.w3.org/Archives/Public/public-webapps/">archives</a>). All feedback is welcome.</p><p>Publication as an Editor's Draft does not imply endorsement by the <abbr title="World Wide Web Consortium">W3C</abbr> Membership. This is a draft document and may be updated, replaced or obsoleted by other documents at any time. It is inappropriate to cite this document as other than work in progress.</p>

<p>This document was produced by a group operating under the <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/">5 February 2004 <abbr title="World Wide Web Consortium">W3C</abbr> Patent Policy</a>. <abbr title="World Wide Web Consortium">W3C</abbr> maintains a <a href="http://www.w3.org/2004/01/pp-impl/45559/status" rel="disclosure">public list of any patent disclosures</a> made in connection with the deliverables of the group; that page also includes instructions for disclosing a patent. An individual who has actual knowledge of a patent which the individual believes contains <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/#def-essential">Essential Claim(s)</a> must disclose the information in accordance with <a href="http://www.w3.org/Consortium/Patent-Policy-20040205/#sec-Disclosure">section 6 of the <abbr title="World Wide Web Consortium">W3C</abbr> Patent Policy</a>.</p>

</div>

<section class="toc">
<h2 id="toc">Table of Contents</h2>
<ol>
    <li><a href="#about"><span class="section">1</span> About this Document</a></li>
    <li><a href="#dependencies"><span class="section">2</span> Dependencies</a></li>
    <li><a href="#terminology"><span class="section">3</span> Terminology</a></li>
    <li><a href="#interface-component"><span class="section">4</span>Interface <code>Component</code></a></li>
    <li><a href="#acknowledgements">Acknowledgements</a></li>
</ol>
</section>

<section class="spec">
<h2 id="about">About this Document</h2>

<p>All diagrams, examples, notes, are non-normative, as well as sections explicitly marked as non-normative. Everything else in this specification is normative.</p>

<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in the normative parts of this document are to be interpreted as described in <a href="http://dev.w3.org/2006/xbl2/#refsRFC2119">RFC2119</a>. For readability, these words do not appear in all uppercase letters in this specification.</p>

<p>Any point, at which a conforming UA must make decisions about the state or reaction to the state of the conceptual model, is captured as <a href="http://en.wikipedia.org/wiki/Algorithm">algorithm</a>. The algorithms are defined in terms of processing equivalence. The <dfn id="dfn-processing-equivalence">processing equivalence</dfn> is a constraint imposed on the algorithm implementors, requiring the output of the both UA-implemented and the specified algorithm to be exactly the same for all inputs.</p>

<h2 id="dependencies">Dependencies</h2>

<p>This document relies on the following specifications:</p>

<ul>
<!--     <li><a href="http://www.w3.org/TR/CSS2/">CSS Level 2 Revision 1</a></li>
    <li><a href="http://dev.w3.org/csswg/cssom/">CSSOM</a></li>
    <li><a href="http://www.w3.org/TR/DOM-Level-3-Events/">DOM Level 3 Events</a></li> -->
    <li><a href="http://dom.spec.whatwg.org/">DOM4 (DOM Core)</a></li>
    <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">HTML</a></li>
    <li><a href="http://html5.org/specs/dom-parsing.html">DOM Parsing and Serialization</a></li>
    <li><a href="http://ecma-international.org/ecma-262/5.1/">ECMAScript Language Specification</a></li>
    <li><a href="http://url.spec.whatwg.org/">URL</a></li>
<!--     <li><a href="http://www.w3.org/TR/selectors/">Selectors Level 3</a></li>
    <li><a href="http://dev.w3.org/2006/webapi/selectors-api/">Selectors API Level 1</a></li>
    <li><a href="http://www.w3.org/TR/shadow-dom/">Shadow DOM</a></li>
    <li><a href="http://www.w3.org/TR/WebIDL/">Web IDL</a></li> -->
</ul>

<h2 id="terminology">Terminology</h2>

<p>HTML components, or just <dfn id="dfn-component">components</dfn> from here on, are <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/syntax.html">HTML documents</a> that are <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-link-element">linked</a> as <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html#external-resource-link">external resources</a> from another <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/syntax.html">HTML document</a>. The document that links to a <a href="#dfn-component">component</a> is called a <dfn id="dfn-master-document">master document</dfn>.</p>

<p>The <a href="http://dom.spec.whatwg.org/#concept-document">document</a> that represents a <a href="#dfn-component">component</a> is called the <dfn id="dfn-component-document">component document</dfn>, and the <a href="http://dom.spec.whatwg.org/#concept-document-url">URL</a> of the <a href="#dfn-component-document">component document</a> is called the <dfn id="dfn-component-location">component location</dfn>.</p>

<h2 id="interface-component">Interface <code>Component</code></h2>

<p>The <a href="#api-component"><code>Component</code></a> interface represents a <a href="#dfn-component">component</a> in a <a href="#dfn-master-document">master document</a>:</p>

<pre><code>
interface <dfn id="api-component">Component</dfn> {
    readonly attribute DOMString? <a href="#dfn-component-href">href</a>;
    readonly attribute Node <a href="#dfn-component-owner-node">ownerNode</a>;
    readonly attribute <a href="http://dom.spec.whatwg.org/#document">Document</a> <a href="#dfn-component-content">content</a>;
};
</code></pre>

<p>The <dfn id="dfn-component-href"><code>href</code></dfn> attribute <strong>must</strong> return the <a href="#dfn-component-location">component location</a> or <strong>null</strong> if none.</p>

<p>The <dfn id="dfn-component-owner-node"><code>ownerNode</code></dfn> attribute <strong>must</strong> return the <a href="http://dom.spec.whatwg.org/#concept-node">node</a> that links <a href="#dfn-master-document">master document</a> to the <a href="#dfn-component">component</a>.</p>

<p>The <dfn id="dfn-component-content"><code>content</code></dfn> attribute <strong>must</strong> return the <a href="#dfn-component-document">component document</a>.</p>

<p>The <a href="#api-link-component"><code>LinkComponent</code></a> interface provides access to a <a href="#dfn-component">component</a> from <a href="#dfn-master-document">master document</a>:</p>

<pre><code>
[NoInterfaceObject]
interface <dfn id="api-link-component">LinkComponent</dfn> {
    readonly attribute <a href="#api-component">Component?</a> <a href="#dfn-link-component-component">component</a>;
}
</code></pre>

<p>The <dfn id="dfn-link-component-component"><code>component</code></dfn> attribute must return the <a href="#api-component"><code>Component</code></a> for the <a href="http://dom.spec.whatwg.org/#concept-node">node</a> that implements this interface.</p>

<div class="monkeypatch" id="html-link-monkeypatch">

The <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-link-element"><code>link</code></a> element implements <a href="#api-link-component"><code>LinkComponent</code> interface:</p>
<pre><code>
<a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#htmllinkelement">HTMLLinkElement</a> implements <a href="#api-link-component">LinkComponent</a>;
</code></pre>

<p>For <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-link-element"><code>link</code></a> elements that do not represent <a href="#dfn-component">components</a>, the <a href="#dfn-link-component-component"><code>component</code></a> attribute of the <a href="#api-link-component"><code>LinkComponent</code></a> interface <strong>must</strong> return <strong>null</strong>. Similarly, if the user agent does not support <a href="#dfn-component">components</a>, or whose resource is <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/fetching-resources.html#cors-cross-origin">CORS-cross-origin</a>, the <a href="#dfn-link-component-component"><code>component</code></a> attribute of the <a href="#api-link-component"><code>LinkComponent</code></a> interface <strong>must</strong> return <strong>null</strong>.</p>

<p>Otherwise, the <a href="#api-link-component"><code>LinkComponent</code></a> interface's <a href="#dfn-link-component-component"><code>component</code></a> attribute <strong>must</strong> return <strong>null</strong> if the correspnding element is not <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/infrastructure.html#in-a-document">in a <code>Document</code></a>, and otherwise must return a <a href="#api-component"><code>Component</code></a> object with the following properties:</p>

<dl>
<dt>component location</dt>
<dd>The <a href="#dfn-component-location">component location</a> <strong>must</strong> be the result of <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/urls.html#resolve-a-url">resolving</a> the <a href="http://url.spec.whatwg.org/#concept-url">URL</a> given by <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-link-element"><code>link</code></a> element's <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#attr-link-href"><code>href</code></a> content attribute, relative to the element, or empty string if that fails.
<dt>owner node</dt>
<dd>The owner node value <strong>must</strong> be the the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-link-element"><code>link</code></a> element.</dd>
</dl>

<p>The same object <strong>must</strong> be returned each time.</p>
</div>

<h2 id="acknowledgements">Acknowledgements</h2>

<p><span class="vcard">David Hyatt</span> developed <a href="http://dev.w3.org/2006/xbl2/">XBL 1.0</a>, and <span class="vcard">Ian Hickson</span> co-wrote <a href="http://dev.w3.org/2006/xbl2/">XBL 2.0</a>. These documents provided tremendous insight into the problem of behavior attachment and greatly influenced this specification.</p>

<p><span class="vcard">Alex Russell</span> and his considerable forethought triggered a new wave of enthusiasm around the subject of behavior attachment and how it can be applied practically on the Web.</p>

<p><span class="vcard">Dominic Cooney</span>, <span class="vcard">Hajime Morrita</span>, and <span class="vcard">Roland Steiner</span> worked tirelessly to scope the problem within the confines of the Web platform and provided a solid foundation for this document.</p>

<p>The editor would also like to thank <span class="vcard">Alex Komoroske</span>, <span class="vcard">Anne van Kesteren</span>, <span class="vcard">Boris Zbarsky</span>, <span class="vcard">Daniel Buchner</span>, <span class="vcard">Edward O'Connor</span>, <span class="vcard">Erik Arvidsson</span>, <span class="vcard">Elliott Sprehn</span>, <span class="vcard">Hayato Ito</span>, <span class="vcard">Jonas Sicking</span>, <span class="vcard">Olli Pettay</span>, <span class="vcard">Rafael Weinstein</span>, <span class="vcard">Scott Miles</span>, <span class="vcard">Steve Orvell</span>, <span class="vcard">Tab Atkins</span>, and <span class="vcard">William Chen</span> for their comments and contributions to this specification.</p>

<p>This list is too short. There's a lot of work left to do. Please contribute by reviewing and filing bugs&mdash;and don't forget to ask the editor to add your name into this section.</p>

</section>
</body>
</html>
